@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

body{
    background-color: rgb(35, 35, 35);
}
h1{
    color: white;
    font-size: 80pt;
    font-family: Quicksand;
    letter-spacing: 20px;
    text-align: center;
}
button{
    width: 80px;
    height: 80px;
    border: none;
    border-radius: 50%;
    padding: 20px;
    color: rgb(244, 244, 244);
    justify-content: space-between;
    margin: 20px;
    transition: 0.5s;
}
#pause , #stop{
    border-radius: 50px;
background: linear-gradient(145deg, #1e1e1e, #232323);
box-shadow:  20px 20px 60px #1c1c1c,
             -20px -20px 60px #262626;
}
#start{
    background-color: rgb(255, 71, 71);
    color: white;
}
#start:hover{
    transform: scale(1.1);
}
#pause:hover, #stop:hover{
    transform: scale(1.1);
    border-radius: 50px;
background: linear-gradient(145deg, #2b2b2b, #333333);
box-shadow:  20px 20px 60px #292929,
             -20px -20px 60px #373737;
}
i{
    font-size: 30pt;
}
.container{
    background-color: rgba(250, 235, 215, 0);
    max-width: 100%;
    width: 700px;
    height: 500px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 10px;
}
.divCounter{
    background-color: rgba(255, 0, 0, 0);
    text-align: center;
    width: 100%;
}
.divBtns{
    background-color: rgba(255, 255, 0, 0);
    text-align: center;
    width: 100%;
}
#pTest{
    font-size: 15pt;
    color: red;
    display: fixed;
}
